#This is an example file not production ready

# Exalate
NODE_URL = "Node URL""
EXALATE_JWT='HardCoded JWT'

#----- OR -----
# ADO
ADO_ORG="ADO org"
ADO_PAT="Azure Dev Ops PAT here"
ADO_PROJECT="Project name here"

#ServiceNow
SNOW_USER="username"
SNOW_PWD="pwd"


#Preferred
SNOW_TOKEN="token"